@page "/"

<main class="home-page">
    <PageHeader Title="SimpleScan"
                TitleTypo="Typo.h5">
        <Actions>
            <IconButton Icon="@Icons.Material.Filled.Add"
                        Tooltip="Add device"
                        AriaLabel="Add device"
                        OnClick="@OpenAddManualScannerDialogAsync"/>
            <IconButton Icon="@Icons.Material.Filled.Refresh"
                        Tooltip="Refresh devices"
                        AriaLabel="Refresh devices"
                        Disabled="@ViewModel.IsLoadingDevices"
                        OnClick="@(_ => ViewModel.RefreshDevicesAsync())"/>
            <IconButton Icon="@Icons.Material.Filled.Settings"
                        Tooltip="Settings"
                        AriaLabel="Settings"/>
        </Actions>
    </PageHeader>

    <section class="home-page__content" id="1">
        <DeviceSelectionPanel Devices="@ViewModel.Devices"
                              SelectedDeviceId="@ViewModel.SelectedDeviceId"
                              DiscoveryStatusLabel="@ViewModel.DiscoveryStatusLabel"
                              IsLoading="@ViewModel.IsLoadingDevices"
                              ErrorMessage="@ViewModel.ErrorMessage"
                              SelectedDeviceIdChanged="@ViewModel.SelectDevice"
                              DeleteDevice="@RemoveManualScannerAsync"/>
        
        <MudDivider 
            DividerType="DividerType.FullWidth"
            Vertical="true"
            Style="width: 0.2rem;"
        />
        
        <HomeActionBar CanScan="@ViewModel.CanStartScan"
                       CanPrint="@ViewModel.CanStartPrint"
                       IsStartingScan="@ViewModel.IsStartingScan"
                       IsStartingPrint="@ViewModel.IsStartingPrint"
                       StartScanClicked="@ViewModel.StartScanAsync"
                       StartPrintClicked="@ViewModel.StartPrintAsync"/>
    </section>
</main>
