<section class="home-action-bar">
    <div class="home-action-bar__header">
        <MudText Typo="Typo.h6">Start workflow</MudText>
    </div>

    <div class="home-action-bar__actions">
        <AppButton StartIcon="@Icons.Material.Filled.DocumentScanner"
                   Size="Size.Large"
                   Class="home-action-bar__button"
                   Disabled="@(!CanScan)"
                   Loading="@IsStartingScan"
                   OnClick="@StartScanClicked"
                   FullWidth="true">
            Scan
        </AppButton>

        <AppButton StartIcon="@Icons.Material.Filled.Print"
                   Color="Color.Default"
                   Variant="Variant.Outlined"
                   Size="Size.Large"
                   Class="home-action-bar__button"
                   Disabled="@(!CanPrint)"
                   Loading="@IsStartingPrint"
                   OnClick="@StartPrintClicked"
                   FullWidth="true">
            Print
        </AppButton>
    </div>
</section>
